<div style="width:35rem;">
    <form #addBook="ngForm" (ngSubmit)="saveBook(addBook.value)" style="width: inherit;">
        <fieldset class="form">
            <legend>Add Book</legend>
            <div class="form-item">
                <div class="form-item_label"><label for="title">Title: </label></div>
                <input class="form-item_input" type="text" id="title" name="title" ngModel />
            </div>
            <div class="form-item">
                <div class="form-item_label"><label for="author">Author: </label></div>
                <input class="form-item_input" type="text" id="author" name="author" ngModel />
            </div>
            <div class="form-item">
                <div class="form-item_label"><label for="year">PublicationYear: </label></div>
                <input class="form-item_input" type="date" id="year" name="publicationYear" ngModel />
            </div>
            <div class="form-item_button">
                <button type="submit">Save</button>
                <button type="button" (click)="location.back()">Back</button>
            </div>
        </fieldset>
    </form>
</div>