<div class="dashboard">
    <div class="dashboard-item">
        <p class="dashboard-item_label">All Books</p>
        <div>
            <ol class="dashboard-item_content">
                <li *ngFor="let book of allBooks">
                    
                </li>
            </ol>
        </div>
    </div>
    <div class="dashboard-item">
        <p class="dashboard-item_label">All Readers</p>
        <div class="dashboard-item_content">
            <ol>
                <li>AAA</li>
                <li>BBB</li>
                <li>CCC</li>
            </ol>
        </div>
    </div>
    <div></div>
</div>